.posts {
  padding-top: 80px;
  width: 85%;
  margin: 0 auto;
  height: calc(100vh - (115px + 70px));
}

#root {
  min-height: 100vh;
}

.posts--button {
  display: flex;
  color: #848484;
  border: none;
  border-radius: 3px;
  padding: 20px 10px;
  font-size: 27px;
  cursor: pointer;
  outline: none;
}

.posts--post-types {
  display: flex;
  flex-direction: column;
}

.posts--icon {
  padding-right: 27px;
  font-size: 30px;
}

.posts--plus-icon {
  color: #ffffff;
  font-size: 30px;
}

.posts--form-icon {
  color: #D65050!important;
  font-size: 28px;
}

.posts--button-pink {
  margin-bottom: 40px;
  background-color: #D65050;
  color: #ffffff;
  transition: background-color 1s ease;
}

.posts--button-pink:hover {
  background-color: rgba(214, 80, 80, .9);
}

.posts--button-white {
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 35px;
  border: 1px solid rgba(144, 144, 144, .7)
}

.posts--button-white:hover {
  text-decoration: underline;
}

@media screen and (min-width:600px) {
  .posts {
    width: 60%;
  }
}