.home {
  flex-grow: 2;
  padding: 5rem 1rem 0 1rem;
}

.home__desc {
  font-size: 1.02rem;
  text-align: center;
}

.home__register {
  padding: 1rem;
  margin-top: 3rem;
}

.home__button {
  width: 100%;
  height: 2rem;
  margin-bottom: 1.3rem;
  border-radius: 3px;
  background-color: #D65050;
  border: none;
  color: #ffffff;
  transition: background-color 2s ease;
  cursor: pointer;
  outline:none;
}

.home__button:hover {
  background-color: rgba(214, 80, 80, 0.9);
}

@media (min-width:550px) {
  .home {
    width: 60%;
    margin: 0 auto;
  }
}