.create-profile--header { 
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.ant-steps-item-process .ant-steps-item-icon {
  background: var(--primary-color, pink);
  border-color: var(--primary-color, pink);

}

.ant-steps-item-finish .ant-steps-item-icon{
  border-color: #333;

}
.anticon svg{
  color: #333;
}

.ant-steps-item-tail {
  color: #333;
}

.ant-steps-item ant-steps-item-finish {
  color: #333;

}

.ant-steps ant-steps-horizontal ant-steps-small ant-steps-label-vertical {
  color: #333;
}

.ant-steps-item-finish > .ant-steps-item-tail::after{
  background: var(--primary-color, pink)
}

.stepOne {
  cursor: pointer;
}