.ant-tabs-nav .ant-tabs-tab-active {
  color: var(--primary-color, pink);
}

.ant-tabs-nav .ant-tabs-tab:hover {
  color: var(--primary-color, pink);
}

.ant-tabs-ink-bar {
  background-color: var(--primary-color, pink);
}

.profile-page--pic {
  margin: 25px auto;
}

.profile-page-tabs {
  width: 100%;
  margin: 0 auto;
}
