.ant-tabs-nav .ant-tabs-tab-active {
    color: var(--primary-color, pink);
}

.ant-tabs-nav .ant-tabs-tab:hover {
    color: var(--primary-color, pink);
}

.ant-tabs-ink-bar {
    background-color: var(--primary-color, pink);
}
