.btn {
    cursor: pointer;
    height: 45px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color, #d65050);
    border: 1px solid var(--main-color, #d65050);
    box-shadow: 2px 5px 5px -1px #afafaf;
    margin: 50px;
    border-radius: 3px;
    color: #fff;
    font-size: 20px;
    font-family: 'Merriweather', serif;
}