.live-posts {
  width: 80%;
  margin: 0 auto;
  padding-top: 60px;
}

.post-type--bold {
  font-weight: bold;
  box-shadow: 1px 2px 2px -1px #afafaf;
}

@media(min-width:550px) {
  .live-posts {
    width: 45%;
    padding-top: 40px;
  }
}